<div class="sidebar-content">

    <div class="card">

        <!-- SIDEBAR HEADER -->
        <!-- <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">

        
        </div> -->
        <!-- / SIDEBAR HEADER -->

        <!-- SIDEBAR CONTENT -->
        <div class="content py-16" fusePerfectScrollbar>

            <div class="nav material2">

                <div class="nav-item" aria-label="inbox">
                    <a class="nav-link" matRipple (click)="changeFilter('all')"
                       [ngClass]="{'active accent':filterBy ==='all'}">
                        <span class="title">Toutes les Thématiques</span>
                    </a>
                </div>

                
                <div class="nav-item" aria-label="Category" >
                    <mat-form-field appearance="outline" class="category-selector">
                        <mat-label>Theme</mat-label>
                        <mat-select [(ngModel)]="currentCategory"
                                    (selectionChange)="changeFilter($event.value)">
                          <!--   <mat-option [value]="'all'">
                                Tous
                            </mat-option> -->
                            <mat-option *ngFor="let category of theme" [value]="category">
                                {{ category.themeName }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                
            </div>

        </div>

    </div>

</div>
<!-- / SIDEBAR CONTENT -->

