<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let equipment">
            <mat-checkbox [(ngModel)]="checkboxes[equipment.id]" (ngModelChange)="onSelectedChange(equipment.id.toString())" (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Ressource</mat-header-cell>
        <mat-cell *matCellDef="let equipment">
            <p class="text-truncate font-weight-600">{{equipment.equipmentName}}</p>
        </mat-cell>
    </ng-container>

    <!-- capacity Column -->
    <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Quantité</mat-header-cell>
        <mat-cell *matCellDef="let equipment" fxHide fxShow.gt-sm>
            <p class="capacity text-truncate">
                {{equipment.quantity}}
            </p>
        </mat-cell>
    </ng-container>

     <!-- Buttons Column -->
     <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let equipment">
            <div fxFlex="row" fxLayoutAlign="end center">
               
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
               
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

   

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let equipment; columns: displayedColumns;" class="equipment" (click)="editEquipment(equipment)" [ngClass]="{'accent-50':checkboxes[equipment.id]}" [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>