<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let module">
            <mat-checkbox [(ngModel)]="checkboxes[module.id]" (ngModelChange)="onSelectedChange(module.id.toString())"
                (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="moduleInstanceName">
        <mat-header-cell *matHeaderCellDef>Titre Module</mat-header-cell>
        <mat-cell *matCellDef="let module">
            <p class="text-truncate font-weight-600">{{module.moduleInstanceName}} </p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="nbDaysModuleInst">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Nombre de jours</mat-header-cell>
        <mat-cell *matCellDef="let module" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                &nbsp; &nbsp; &nbsp; {{module.nbDaysModuleInstance}}
            </p>
        </mat-cell>
    </ng-container>





    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let module">
            <div fxFlex="row" fxLayoutAlign="end center">


                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                    (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>
                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="edit" (click)="editModule(module)">
                        <mat-icon>edit</mat-icon>
                        <span>Modifier</span>
                    </button>

                </mat-menu>

            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let module; columns: displayedColumns;" class="contact"
        [ngClass]="{'accent-50':checkboxes[module.id]}" [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>