<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Nom</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.enterpriseName}} </p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nameP">
        <mat-header-cell *matHeaderCellDef>Représentant</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.managerFirstName}} {{contact.managerLastName}}  </p>
        </mat-cell>
    </ng-container>
    

    <!-- Email Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{contact.email}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Numéro</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{contact.phoneNumber}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Job Title Column -->
    <ng-container matColumnDef="website" >
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>
            Site Web </mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="job-title text-truncate">
                {{contact.website}}
            </p>
        </mat-cell>
    </ng-container>
  
   <!--  <ng-container matColumnDef="classe" >
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>
            Inscrite dans </mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
       
                <ng-container >
                    <ul >
                        <li *ngFor="let programInstance of contact.programInstance">
                            <span> {{programInstance.programInstName}} </span>
                        </li>
                    </ul>
    
                </ng-container>
             
        </mat-cell>
    </ng-container> -->



    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();" aria-label="Toggle star">
                    <mat-icon *ngIf="contact.validated " class="amber-fg" >star</mat-icon>
                    <mat-icon *ngIf="!contact.validated"class="secondary-text" >star_border</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                   <!--  <button mat-menu-item aria-label="remove" (click)="deleteContact(contact.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Supprimer</span>
                    </button> -->
                    <button mat-menu-item aria-label="check"  (click)="ValidateContact(contact)" *ngIf="!contact.validated ">
                        <mat-icon >check</mat-icon>
                        <span>Créer un compte</span>
                    </button>
                    <button mat-menu-item aria-label="check"  (click)="refuseCompany(contact)" *ngIf="contact.validated ">
                        <mat-icon >close</mat-icon>
                        <span>Annuler le compte</span>
                    </button>

                    <button  mat-menu-item (click)=" getRegistrationList(contact.id)">
                        <mat-icon>school</mat-icon>
                        <span>Liste des classes</span>
                    </button>
                </mat-menu>


            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             (click)="editContact(contact)"
             [ngClass]="{'accent-50':checkboxes[contact.id]}"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


