<div class="dialog-content-wrapper">
    <mat-toolbar class="mat-accent m-0">
        <mat-toolbar-row fxFlex fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-16 pb-0 m-0" fusePerfectScrollbar>

        <form name="programInstForm" [formGroup]="programInstForm" class="event-form w-100-p" fxLayout="column" fxFlex >
            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Programme de Base</mat-label>
                    <mat-select formControlName="program" placeholder="Programme de Base" (selectionChange)="getProgramForm($event.value)">
                       
                        <mat-option *ngFor="let program of programs"  [value]="program">
                            {{ program.programName}} 
                        </mat-option>
                    </mat-select>
                    <!-- <mat-error *ngIf="program.hasError('required')">
                        Program required.
                      </mat-error> -->
            </mat-form-field>
            <!--mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Location</mat-label>
                <input matInput name="location" formControlName="location" 
                required   [(ngModel)]="programInst.location">
            </mat-form-field-->

            <mat-form-field appearance="outline" fxFlex="100">
                <mat-label>Ville</mat-label>
                <mat-select formControlName="location" >
                    <mat-option *ngFor="let city of cities" [value]="city">
                        {{city}}
                    </mat-option>

                </mat-select>
                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                
            </mat-form-field>
           
            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Nom du Programme Dédié</mat-label>
                <input matInput name="programInstName" formControlName="programInstName" 
                required [(ngModel)]="programInst.programInstName">
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100-p">
                <mat-label>Nombre du jours</mat-label>
                <input matInput name="nbDaysProgInst" formControlName="nbDaysProgInst" 
                required  [(ngModel)]="programInst.nbDaysProgInst">
            </mat-form-field>
           
             
        </form>
        </div>
        
        
<div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

    <button *ngIf="action === 'edit'"
            mat-button
            class="mr-8"
            (click)="matDialogRef.close(['delete',programInstForm])"
            aria-label="Delete"
            matTooltip="Delete">
        Supprimer
    </button>

    <button *ngIf="action !== 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(programInstForm)"
            [disabled]="programInstForm.invalid"
            aria-label="SAVE">
        Ajouter
    </button>

    <button *ngIf="action === 'edit'"
            mat-button
            class="save-button"
            (click)="matDialogRef.close(['save',programInstForm])"
            [disabled]="programInstForm.invalid"
            aria-label="SAVE">
        Enregistrer
    </button>

</div>


</div>
<!--            
-->