<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <!--ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let training">
            <mat-checkbox [(ngModel)]="checkboxes[training.id]" (ngModelChange)="onSelectedChange(training.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container-->


    <!-- Name Column -->
    <ng-container matColumnDef="courseName">
        <mat-header-cell *matHeaderCellDef>Titre Formation</mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="text-truncate font-weight-600">{{contact.courseName}} </p>
        </mat-cell>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="theme">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Thème</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{contact.theme}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="nbmaxParticipants">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Nombre Max Participants</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="phone text-truncate">
                {{contact.nbmaxParticipants}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Job Title Column -->
    <ng-container matColumnDef="fees">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Durée</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{contact.fees}}
            </p>
        </mat-cell>
    </ng-container>
    <ng-container matColumnDef="content">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-lg>Contenu</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-lg>
            <p class="job-title text-truncate">
                {{contact.content}}
            </p>
        </mat-cell>
    </ng-container>

  

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">
                

                <!--button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button-->

                <!--mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteContact(contact.id)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu-->
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;"
             class="contact"
             
             
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>
<!-- !   (click)="editContact(contact)"  [ngClass]="{'accent-50':checkboxes[contact.id]}"-->


