<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">

            <div class="contact-name mt-8">{{enterprise.enterpriseName}}</div>
        </mat-toolbar-row>
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form [formGroup]="enterpriseForm">

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nom de l'entreprise</mat-label>
                    <mat-icon matSuffix class="secondary-text">business</mat-icon>
                    <input name="enterpriseName" formControlName="enterpriseName" matInput required
                        (blur)="onValueChanged()">
                    <mat-error *ngIf="formErrors.enterpriseName">{{formErrors.enterpriseName}}</mat-error>

                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Prénom du représentant</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="managerFirstName" formControlName="managerFirstName" matInput required
                        (blur)="onValueChanged()">
                    <mat-error *ngIf="formErrors.managerFirstName">{{formErrors.managerFirstName}}</mat-error>

                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nom du représentant</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <input name="managerLastName" formControlName="managerLastName" matInput required
                        (blur)="onValueChanged()">
                    <mat-error *ngIf="formErrors.managerLastName">{{formErrors.managerLastName}}</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row " fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Poste occupé par le représentant</mat-label>
                    <input matInput formControlName="managerPosition" required (blur)="onValueChanged()">
                    <mat-icon matSuffix class="secondary-text">work_outline</mat-icon>
                    <mat-error *ngIf="formErrors.positionM">{{formErrors.positionM}}</mat-error>

                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Email</mat-label>
                    <mat-icon matSuffix class="secondary-text">email</mat-icon>
                    <input name="email" formControlName="email" matInput required (blur)="onValueChanged()">
                    <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>

                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Numéro</mat-label>
                    <mat-icon matSuffix class="secondary-text">phone</mat-icon>
                    <input formControlName="phoneNumber" matInput required (blur)="onValueChanged()">
                    <mat-error *ngIf="formErrors.phoneNumber">{{formErrors.phoneNumber}}</mat-error>

                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Site Web</mat-label>
                    <mat-icon matSuffix class="secondary-text">language</mat-icon>
                    <input name="website" formControlName="website" matInput required (blur)="onValueChanged()">
                    <mat-error *ngIf="formErrors.webSite">{{formErrors.webSite}}</mat-error>

                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Adresse</mat-label>
                    <mat-icon matSuffix class="secondary-text">home</mat-icon>
                    <input name="street" formControlName="street" matInput required (blur)="onValueChanged()">
                    <mat-error *ngIf="formErrors.street">{{formErrors.street}}</mat-error>

                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start start">

                <mat-form-field appearance="outline" fxFlex="100">
                    <mat-label>Ville</mat-label>
                    <mat-select formControlName="city" ngDefaultControl required (blur)="onValueChanged()">
                        <mat-option *ngFor="let city of cities.sort()" [value]="city">
                            {{city}}
                        </mat-option>

                    </mat-select>
                    <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                    <mat-error *ngIf="formErrors.city">{{formErrors.city}}</mat-error>

                </mat-form-field>


                <mat-form-field appearance="outline" fxFlex="33">
                    <mat-label>Code Postal</mat-label>
                    <input matInput #postalCode formControlName="postalCode" maxlength="5 " required
                        (blur)="onValueChanged()">
                    <mat-icon matSuffix class="secondary-text ">markunread_mailbox</mat-icon>

                    <mat-error *ngIf="formErrors.postalCode">{{formErrors.postalCode}}</mat-error>

                </mat-form-field>

            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Prestataire de salles</mat-label>
                    <mat-select formControlName="provider"
                        (selectionChange)="selectProvider($event.value)" required
                        >

                        <mat-option [value]="true">
                            Oui
                        </mat-option>
                        <mat-option [value]="false">
                            Non
                        </mat-option>
                    </mat-select>
                   
                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Classe</mat-label>
                    <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                    <mat-select  multiple="" formControlName="programInstance" (selectionChange)="sendClasse($event.value)" 
                        (blur)="onValueChanged()">

                        <mat-option *ngFor="let classe of classes" [value]="classe">
                            {{ classe.programInstName}} {{ classe.location}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="formErrors.classe">{{formErrors.classe}}</mat-error>


                </mat-form-field>
            </div>
            <div fxLayout="row" fxLayoutAlign="start center">
                <mat-form-field appearance="outline" fxFlex>
                    <mat-label>Nombre de participants à inscrire</mat-label>
                    <input matInput formControlName="nbMinParticipants"  (blur)="onValueChanged()">
                    <mat-icon matSuffix class="secondary-text">looks_one</mat-icon>

                    <mat-error *ngIf="formErrors.participNumber">{{formErrors.participNumber}}</mat-error>

                </mat-form-field>
            </div>

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <!--   <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',contactForm])"
                aria-label="Delete"
                matTooltip="Delete">
            SUPPRIMER
        </button> -->

        <button *ngIf="action !== 'edit'" mat-button class="save-button" (click)="matDialogRef.close(enterpriseForm)"
            [disabled]="enterpriseForm.invalid" aria-label="SAVE">
            AJOUTER
        </button>

        <button *ngIf="action === 'edit'" mat-button class="save-button"
            (click)="matDialogRef.close(['save',enterpriseForm])" [disabled]="enterpriseForm.invalid" aria-label="SAVE">
            ENREGISTRER
        </button>

    </div>
</div>