<mat-table #table [dataSource]="dataSource" [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <mat-checkbox [(ngModel)]="checkboxes[contact.id]" (ngModelChange)="onSelectedChange(contact.id.toString())" (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>


    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nom et Prénom </mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <p class="font-weight-600">{{contact.firstNameP}} {{contact.lastNameP}}</p>
        </mat-cell>
    </ng-container>


    <!-- Age Column -->
    <ng-container matColumnDef="age"  >
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm class="cell-age">Age</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-sm class="cell-age" >
            <p class="age text-truncate">
              {{contact.age}}
            </p>
        </mat-cell>
    </ng-container>


     <!-- Professional Experience Column -->
    <ng-container matColumnDef="experience" >
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md class="cell-experience">ExpériencePro. </mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md class="cell-experience">
            <p class="phone text-truncate">
                {{contact.experience}}
            </p>
        </mat-cell>
    </ng-container>
 

    <!-- Company Column -->
    <ng-container  matColumnDef="company">
         <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Entreprise</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p *ngIf="contact.entreprise!=null"  class="company text-truncate">
             {{contact.entreprise.enterpriseName}}
            </p>
            <p *ngIf="contact.entreprise==null"  class="company text-truncate">
                aucune
               </p>
        </mat-cell>
    </ng-container>
    <!-- Company Column -->
    <ng-container matColumnDef="classe">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Classe</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p *ngIf="contact.programInstance!=null" class="company">
                {{contact.programInstance.programInstName}} 
            </p>
        </mat-cell>
    </ng-container>
    <!-- Company Column -->
    <ng-container matColumnDef="statut">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Statut</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p  class="company" [ngStyle]="{'background-color': getRowColor(contact.status)}" *ngIf="contact.status=='WAITING'">
                EN ATTENTE
            </p>
            <p  class="company" [ngStyle]="{'background-color': getRowColor(contact.status)}" *ngIf="contact.status=='ACCEPTED'">
                ACCEPTE
            </p>
        <!--     <p  class="company" [ngStyle]="{'background-color': getRowColor(contact.status)}">
                {{contact.status}} 
            </p> -->
        </mat-cell>
    </ng-container>
    
    <ng-container matColumnDef="level">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-md>Niveau Management</mat-header-cell>
        <mat-cell *matCellDef="let contact" fxHide fxShow.gt-md>
            <p class="company text-truncate">
                {{contact.level}}
            </p>
        </mat-cell>
    </ng-container>



    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let contact">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();" aria-label="Toggle star">
                    <mat-icon *ngIf="contact.validated " class="amber-fg" >star</mat-icon>
                    <mat-icon *ngIf="!contact.validated"class="secondary-text" >star_border</mat-icon>
                </button>
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                
                    <button mat-menu-item aria-label="check"  (click)="ValidateContact(contact)" *ngIf="!contact.validated ">
                        <mat-icon >check</mat-icon>
                        <span>Créer un compte</span>
                    </button>
                    <button mat-menu-item aria-label="check"  (click)="refuseParticipant(contact)" *ngIf="contact.validated ">
                        <mat-icon >close</mat-icon>
                        <span>Annuler le compte</span>
                    </button>
                    <button  mat-menu-item (click)=" getRegistrationList(contact.id)">
                        <mat-icon>school</mat-icon>
                        <span>Liste des classes</span>
                    </button>
                </mat-menu>


            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let contact; columns: displayedColumns;" class="contact" (click)="editContact(contact)" [ngClass]="{'accent-50':checkboxes[contact.id]}" [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
  

</mat-table>
<mat-paginator #paginator
                           [length]="dataSource.filteredData.length"
                           [pageIndex]="0"
                           [pageSize]="15"
                           [pageSizeOptions]="[5, 10, 15, 25]">
            </mat-paginator>