<div id="register" class="inner-scroll" fxLayout="row" fxLayoutAlign="start">

    <div id="register-intro" fxFlex fxHide fxShow.gt-xs>

        <div class="logo" [@animate]="{value:'*',params:{scale:'0.2'}}">
            <img src="assets/images/logos/fuse.svg">
        </div>

        <div class="title" [@animate]="{value:'*',params:{delay:'50ms',y:'25px'}}">
        </div>

        <div class="description" [@animate]="{value:'*',params:{delay:'100ms',y:'25px'}}">
            Si vous êtes une entreprise et vous êtes intéressée par nos programmes, veuillez remplir le formulaire !
        </div>

    </div>

    <div id="register-form-wrapper" fusePerfectScrollbar [@animate]="{value:'*',params:{delay:'300ms',x:'100%'}}"
        fxFlex="100">

        <div id="register-form">

            <div class="logo" fxHide.gt-xs>
                <img src="assets/images/logos/fuse.svg">
            </div>

            <div class="mb-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-md="row">
                <form name="registerForm" [formGroup]="registerForm" novalidate
                    class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" fxLayoutAlign="start"
                    fxFlex="1 0 auto" (ngSubmit)="formValidation() && onSubmit()">

                    <div class="title h2 mb-24" fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        Formulaire pour entreprise</div>

                    <form name="rForm" [formGroup]="rForm" novalidate class=" p-24 mr-24" fxLayout="column"
                        fxLayoutAlign="start" fxFlex="1 0 auto">
                        <div fxLayout="row wrap" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline" fxFlex="50" class="pr-4">
                                <mat-label>Prénom du représentant</mat-label>
                                <input matInput formControlName="firstNameP" required (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error *ngIf="formErrors.firstNameP">{{formErrors.firstNameP}}</mat-error>
                            </mat-form-field>

                            <mat-form-field appearance="outline" fxFlex="50" class="pl-4">
                                <mat-label>Nom du représentant</mat-label>
                                <input matInput formControlName="lastNameP" required (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error *ngIf="formErrors.lastNameP">{{formErrors.lastNameP}}</mat-error>
                            </mat-form-field>

                        </div>
                        <div fxLayout="row " fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Email du représentant</mat-label>
                                <input matInput formControlName="email" required (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">mail</mat-icon>
                                <mat-error *ngIf="formErrors.email">{{formErrors.email}}</mat-error>

                            </mat-form-field>
                        </div>
                        <div fxLayout="row " fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Poste occupé par le représentant</mat-label>
                                <input matInput formControlName="positionM" required (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">work_outline</mat-icon>
                                <mat-error *ngIf="formErrors.positionM">{{formErrors.positionM}}</mat-error>

                            </mat-form-field>
                        </div>
                        <div fxLayout="row " fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Nom de l'entreprise</mat-label>
                                <input matInput formControlName="nameE" required (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-error *ngIf="formErrors.nameE">{{formErrors.nameE}}</mat-error>

                            </mat-form-field>
                        </div>

                        <div fxLayout="row " fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Site web</mat-label>
                                <input matInput formControlName="webSite" required (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">web</mat-icon>
                                <mat-error *ngIf="formErrors.webSite">{{formErrors.webSite}}</mat-error>

                            </mat-form-field>
                        </div>




                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Mot de passe</mat-label>
                                <input matInput type="password" formControlName="password" required
                                    (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                <mat-error *ngIf="formErrors.password">{{formErrors.password}}</mat-error>

                            </mat-form-field>
                        </div>
                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Mot de passe (Confirmer)</mat-label>
                                <input matInput type="password" formControlName="passwordConfirm" required
                                    (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">vpn_key</mat-icon>
                                <mat-error *ngIf="formErrors.passwordConfirm">{{formErrors.passwordConfirm}}</mat-error>


                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Numéro de téléphone</mat-label>
                                <input matInput type="tel" formControlName="phoneNumber" required
                                    (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">phone</mat-icon>

                                <mat-error *ngIf="formErrors.phoneNumber">{{formErrors.phoneNumber}}</mat-error>

                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Adresse</mat-label>
                                <mat-icon matSuffix class="secondary-text">home</mat-icon>
                                <input name="street" formControlName="street" matInput required
                                    (blur)="onValueChanged()">
                                <mat-error *ngIf="formErrors.street">{{formErrors.street}}</mat-error>

                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start start">

                            <mat-form-field appearance="outline" fxFlex="100">
                                <mat-label>Ville</mat-label>
                                <mat-select formControlName="city" required (blur)="onValueChanged()">
                                    <mat-option *ngFor="let city of cities" [value]="city">
                                        {{city}}
                                    </mat-option>

                                </mat-select>
                                <mat-icon matSuffix class="secondary-text">outlined_flag</mat-icon>
                                <mat-error *ngIf="formErrors.city">{{formErrors.city}}</mat-error>
                            </mat-form-field>

                            <!-- <mat-form-field appearance="outline" fxFlex="33">
                                <mat-label>State</mat-label>
                                <input matInput formControlName="state">
                                <mat-icon matSuffix class="secondary-text">location_city</mat-icon>

                            </mat-form-field> -->

                            <mat-form-field appearance="outline" fxFlex="33">
                                <mat-label>Code postal</mat-label>
                                <input matInput #postalCode formControlName="postalCode" maxlength="5 " required
                                    (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text ">markunread_mailbox</mat-icon>
                                <mat-error *ngIf="formErrors.postalCode">{{formErrors.postalCode}}</mat-error>
                            </mat-form-field>

                        </div>


                        <div fxLayout="row" fxLayoutAlign="start center">
                            <mat-form-field appearance="outline" fxFlex>
                                <mat-label>Classe</mat-label>
                                <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                                <mat-select formControlName="classe" (selectionChange)="sendClasse($event.value)"
                                    required (blur)="onValueChanged()">

                                    <mat-option *ngFor="let classe of classes" [value]="classe">
                                        {{ classe.programInstName}} {{ classe.location}}
                                    </mat-option>
                                </mat-select>

                                <mat-error *ngIf="formErrors.classe">{{formErrors.classe}}</mat-error>

                            </mat-form-field>
                        </div>

                        <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                            <mat-form-field appearance="outline">
                                <mat-label>Nombre de participants à inscrire</mat-label>
                                <input matInput formControlName="participNumber" required (blur)="onValueChanged()">
                                <mat-icon matSuffix class="secondary-text">looks_one</mat-icon>
                                <mat-error *ngIf="formErrors.participNumber">{{formErrors.participNumber}}</mat-error>

                            </mat-form-field>
                        </div>
                        <div class="alert alert-danger" fxLayout="column" fxLayoutAlign="center center" role="alert"
                            *ngIf="isFailed">

                            <h4>{{errorMessage}}</h4>
                        </div>

                    </form>







                    <div class="terms" fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                        <mat-checkbox name="terms" aria-label="Accept">
                            <span>Accepter</span>
                        </mat-checkbox>
                        <a href="#">les conditions</a>
                    </div>

                    <button mat-raised-button color="accent" class="submit-button" aria-label="CREATE AN ACCOUNT"
                        [disabled]="!formValidation()">
                        VALIDER
                    </button>
                    <div class="alert alert-success" fxLayoutAlign="center center" *ngIf="isSuccessful">
                        <h4>Vos données sont bien enregistrées.</h4>
                    </div>
                    <div class="register mb-24" fxLayout="row" fxLayoutAlign="center center" fxFlex="1 0 auto">
                        <span class="text">Vous avez déjà un compte? </span>
                        <br>
                        <a class="link" [routerLink]="'/pages/auth/login-2'"> Login</a>
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>