<div id="profile" class="page-layout simple tabbed">

    <!-- HEADER -->
    <div class="header p-24" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
        fxLayoutAlign.gt-sm="space-between end">

       
    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content">

        <mat-tab-group  dynamicHeight="true">

            <mat-tab label="Théme">
                <app-thematique-classe *matTabContent></app-thematique-classe>
            </mat-tab>

            <mat-tab label="Module">
                <app-module-classe *matTabContent></app-module-classe>
            </mat-tab>

            <mat-tab label="Théme de la journée">
                <app-theme-detail-classe *matTabContent></app-theme-detail-classe>
            </mat-tab>

        </mat-tab-group>

    </div>
    <!-- / CONTENT -->

</div>